.selectColorContent {
  margin-top: -50px;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .selectColorContent {
    margin-top: 0px;
  }
}

.notesListCol {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
